# Kernel-Ícaro (vmicaro)
# Copyright (c) 2026 Ícaro Teles da Silva (@icarotelesdasilva)

insmod all_video
insmod gfxterm
insmod png

set gfxmode=1024x768
set gfxpayload=text
terminal_output gfxterm

background_image /boot/grub/background.png

set timeout=5
set default=0

menuentry "vmicaro" {

    terminal_output console

    clear
    
    multiboot /boot/vmicaro
    boot
}

